/* @theme course */

@import "default";

.definition {
  color: #2563EB;
  font-weight: 700;
}

.advice {
  color: #16A34A;
  font-weight: 700;
}

.important {
  color: #EA580C;
  font-weight: 700;
}

.error {
  color: #DC2626;
  font-weight: 700;
}

code.lang {
    color: #2563EB;
    font-weight: bold;
    background: #eef5ff;
}

a {
    color: #0EA5E9;
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    color: #0284C7;
    text-decoration: underline;
}

advice {
    display: block;

    margin: 1em 0;
    padding: 0.7em 1em;

    border-left: 6px solid #16A34A;
    background: #F0FDF4;

    color: #166534;
    border-radius: 6px;
}

important {
    display: block;

    margin: 1em 0;
    padding: 0.7em 1em;

    border-left: 6px solid #EA580C;
    background: #FFF7ED;

    color: #9A3412;
    border-radius: 6px;
}

definition {
    display: block;

    margin: 1em 0;
    padding: 0.7em 1em;

    border-left: 6px solid #2563EB;
    background: #EFF6FF;

    color: #1E3A8A;
    border-radius: 6px;
}

section.definition {
    border-top: 12px solid #2563EB;
}





lang {
    display: inline-block;

    padding: 0.05em 0.35em;
    color: #2563EB;
    font-weight: bold;

    font-family: var(--code-font);
    font-size: 0.9em;

    background: #eef5ff;
    border-radius: 4px;
}


.columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
}

.columns-60-40 {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 60px;
    align-items: center;
}

    
question {
    display: block;
    margin: 1em 0;
    padding: 0.7em 1em;

    border-left: 6px solid #2563EB;
    border-radius: 6px;

    background: #EFF6FF;
    color: #1E3A8A;
}

section.video {
  padding: 0;
}

section.video video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  background: #ffffff;
}